<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/mybulma/css/mystyles.css">
    <!--Open Sans font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!--Open Sans Condensed-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <title>ImaniClinic</title>
  </head>
  
  <body>
    <nav class="navbar">
      <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-link is-arrowless" href="/">
              IMANI CLINIC
            </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              ABOUT US
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" style="color:white" href="about">
                WHO WE ARE
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              EVENTS
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" style="color:white">
                CALENDAR
              </a>
              <a class="navbar-item" style="color:white">
                IMANI BOLT
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              SERVICES
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" style="color:white" href="/primaryservices">
                PRIMARY SERVICES
              </a>
              <a class="navbar-item" href="/specialty" style="color:white">
                SPECIALTY SERVICES
              </a>
              <a class="navbar-item" href="/IHEOP" style="color:white">
                HEALTH EDUCATION
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            
            <a class="navbar-link is-arrowless">
              GET INVOLVED
            </a>
            
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/undergraduates" style="color:white">
                UNDERGRADUATE STUDENTS
              </a>
              <a class="navbar-item" href="medicalstudents.handlebars" style="color:white">
                MEDICAL STUDENTS
              </a>
              <a class="navbar-item" style="color:white">
                PRECEPTORS
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              PARTNERS
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" style="color:white">
                OVERVIEW
              </a>
              <a class="navbar-item" style="color:white">
                ELEMENTS
              </a>
              <a class="navbar-item" style="color:white">
                COMPONENTS
              </a>
            </div>
          </div>

          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger" href="contact">
                <strong>CONTACT US</strong>
              </a>
              <a class="button is-light">
                <strong>DONATE</strong>
              </a>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </body>
</html>
