<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,400,600,700,800" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <link href="../public/css/navbar.css" rel="stylesheet">
        <link href="../public/css/contact.css" rel="stylesheet">
    </head>
    <body>
        <div id="includedContent"></div>
        <script> 
            $(function(){
                $("#includedContent").load("navbar.handlebars"); 
            });
        </script>
        <div id="bg">
            <section class="section" id="section">
                <div class="container">
                    <div class="columns is-variable is-vcentered is-8">
                        <style>.columns {
                                margin-top: 1rem;
                                margin-bottom: 1rem;
                            }</style>
                        <div class="column has-text-white is-6">
                            <div> <style>iframe {
                                    height: 19rem;
                                }</style>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.021720164813!2d-121.47400608460526!3d38.556313374581705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ad0696ce97479%3A0x772410d1575d01f0!2sImani+Clinic!5e0!3m2!1sen!2sus!4v1557782616238!5m2!1sen!2sus" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <br>
                            <p class="opensans-header" id="texte">ADDRESS</p>
                            <p class="opensans-body uppercase" id="texte">Imani Clinic</p>
                            <p class="opensans-body uppercase" id="texte">3415 Martin Luther King Junior Boulevard, Sacramento, California 95817, United States</p>
                            <br>
                            <p class="opensans-header" id="texte">OFFICE HOURS</p>
                            <p class="opensans-body uppercase" id="texte">Monday - Friday: 8:00 - 5:00 pm.</p>
                            <p class="opensans-body uppercase" id="texte">Saturday: 8:00 - 2:00 pm.</p>
                            <p class="opensans-body uppercase" id="texte">Sunday: Closed</p>
                            <br>
                            <p class="opensans-header" id="texte">PHONE</p>
                            <p class="opensans-body" id="texte">(916) 475-9582</p>
                            </div>
                        <div class="column">
                            <h1 class="opensans-contact-us red title has-text-left">CONTACT US</h1>

                            <!-- 
                            <p class="opensans-body">Imani Clinic can be reached during normal business hours by phone.  If you have a medical emergency, please dial <strong>911</strong></p>
                            <br>
                            <p class="opensans-body">If you have questions about our services, accepted forms of insurance, our facility, or our physicians, 
                                please feel free to contact us during normal business hours by phone or use the form below and we will respond within one business day.</p>
                            -->
                            <br>   
                            <p class="opensans-body">{{msg}}</p>
                            <form id="form" method="POST" action="send">
                                <p class="opensans-body">If you'd like to be included in our mailing list, or if you have questions</p>
                                <br>
                                <div class="field">
                                    <label class="label opensans-body" for="name" required>Name:</label>
                                    <div class="control">
                                        <input class="input" type="text" id="name" name="name" placeholder="insert name here" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label opensans-body" for="email">Email:</label>
                                    <div class="control">
                                        <input class="input" type="email" id="email" name="email" placeholder="insert email here" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label opensans-body" for="subject">Subject:</label>
                                    <div class="control">
                                        <input class="input" type="text" id="subject" name="subject" placeholder="insert subject here" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label opensans-body" for="message">Message:</label>
                                    <div class="control">
                                        <textarea class="textarea" type="text" id="message" name="message" placeholder="type message here"></textarea>
                                    </div>
                                </div>
                                <button class="button is-pulled-right opensans-body" id="submit" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
            </section>
        </div>
        <script src="public/js/contact.js"></script>
    </body>
</html>