<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IHEOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <div id="includedContent"></div>

    <script> 
        $(function(){
          $("#includedContent").load("navbar.handlebars"); 
        });
    </script>

    <div class="header">
      <h1 class="title is-3 shadow">Imani Health Education and Outreach Program</h1>
    </div>

    <p class="contents">
      One vital aspect of Imani Clinic’s healthcare lies in community-oriented health education and discussion through the <strong>Imani Health Education and Outreach Program (IHEOP).</strong> This program aims to meet the needs of Oak Park community members facing chronic illnesses, such as diabetes and high blood pressure, and/or are at a greater risk of confronting these illnesses. Our Imani Clinic undergraduate volunteers train under the guidance and mentorship of our Co-Directors to create thoughtful and proactive discussion with Oak Park Community Members through one-on-one IHEOP sessions inside Imani Clinic, and Saturday morning Nutrition, Fitness, and Cooking Classes at the Oak Park Community Center in partnership with Youth Xplosion (YXP). We believe planning healthy lifestyle goals with our Oak Park Community will lead to greater quality of life and stronger relationships between our clinic, the Oak Park Community, and community-based medicine.
    </p>

    <div class="colored_box">
        <h5 class="title is-3 is-pulled-left">Appointments and classes</h5>
    </div>

    <p class="contents">
      One-on-one IHEOP Sessions at Imani Clinic are available by walk-in or appointment every Saturday.
Nutrition Classes are offered every first (1st) and third (3rd) Saturday at 9:30am at the Oak Park Community Center, located at 3415 Martin Luther King, Jr. Blvd. Sacramento, CA 95817. Fitness Classes are offered every second (2nd) Saturday at the same schedule and location.
    </p>
    
    <div class="container">
      <div class="recipe">
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../public/images/exercise.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <a href="../public/pdfs/Winter_2019_IHEOP_Flyer_English.pdf" target="_blank">Events Winter 2019(English)</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../public/images/nutrition.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <a href="../public/pdfs\Winter_2019_IHEOP_Flyer_Spanish.pdf" target="_blank">Events Winter 2019(Spanish)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="colored_box">
        <h5 class="title is-3 is-pulled-right">Imani Cookbook</h5>
    </div>

    <p class="contents">
      Here are some healthy and nutritious recipes that you can make at home! Recipes are in Spanish and English. Please cook to your heart's content!
    </p>

    <div class="recipe">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../public/images/jambalaya.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a href="../public/pdfs\Justice_Jambalaya_English.pdf" target="_blank">Jambalaya Recipe</a>
                <br>
                <a href="../public/pdfs\Justice_Jambalaya_Spanish.pdf" target="_blank">Jambalaya en español</a>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../public/images/fajitas.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a href="../public/pdfs\Chicken_Fajitas_English.pdf" target="_blank">Chicken Fajitas</a>
                <br>
                <a href="../public/pdfs\Chicken_Fajitas_Spanish.pdf" target="_blank">Fajitas de Pollo en español</a>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../public/images/adobo.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a href="../public/pdfs\Chicken_Adobo.pdf" target="_blank">Chicken Adobo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<<<<<<< HEAD
    
    <div class="endBlock">
          <span>Copyright © Imani Clinic. All rights reserved.</span>
=======
    <div class="endBlock">
      <span>Copyright © Imani Clinic. All rights reserved.</span>
>>>>>>> 403fede3689e2f2d9478e489bff7b6c5576dc446
    </div>
  </body>
  <script type="text/javascript" src="../public/js/Fade.js"></script>
</html>
