<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>

        <meta charset="utf-8">
        <title>Medical Students</title>
        <!--Bulma stylesheet for navbar-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="../public/css/getinvolved.css">
        <link rel="stylesheet" href="../public/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Open Sans and Open Sans Condensed fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </head>
    
    <body>
      
        <div id="includedContent"></div>
        <script> 
            $(function(){
                $("#includedContent").load("navbar.handlebars"); 
            });
        </script>

        <div style="width: 100%; height: 100%; overflow:hidden">
            <img src="../public/images/MedStudentTopPageImg.jpg" alt="Img from ImaniClinic website" width=100%>
        </div>


        <center><p class="paragraphTitle">Role Of Medical Students in Imani</p></center>

        <p class="paragraphBody" style="padding-bottom: 20px">

            Many regular clinic volunteers have told us time and time again that seeing patients at Imani Clinic has been one of their most worthwhile experiences in medical school. Going to clinic not only allows you to practice important history taking and physical exam skills that you will be learning during your first year, but also allows you to take active leadership roles in community health by applying to be a clinic co-director. We all look forward to welcoming you to the Imani family!

        </p>

        <p class="paragraphBody" style="padding-bottom: 20px">
            Medical students need to be in clinic around 9:00 AM, and should expect to be out around 1:00 PM. All medical students--especially first years--are encouraged to come to Imani Clinic! Make sure to bring a lab coat, your ID badge, and a stethoscope (if you have one). 
        </p>
        
        <p class="paragraphBody" >
            Please contact our Administrative Assistant, Gabriella Solis, at <b style="color: #363636; font-weight: 700;">imaniclinic.admn@gmail.com</b> should you have any further questions.
        </p>

        <p></p>

        <div class="endBlock">
            <span>Copyright © Imani Clinic. All rights reserved.</span>
        </div>

        <script type="text/javascript" src="../public/js/fade.js"></script>
      
  </body>
</html>
