<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>

        <meta charset="utf-8">
        <title>Preceptors</title>
        <!--Bulma stylesheet for navbar-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="../public/css/getinvolved.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Open Sans and Open Sans Condensed fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </head>
    
    <body>
      
        <div id="includedContent"></div>
        <script> 
            $(function(){
                $("#includedContent").load("navbar.handlebars"); 
            });
        </script>

        <div style="width: 100%; height: 100%; overflow:hidden">
            <img src="../public/images/PreceptorTopPageImg.jpg" alt="Img from ImaniClinic website" width=100%>
        </div>


        <center><p class="paragraphTitle">Our Preceptors - At the Heart of Imani Clinic</p></center>

        <p class="paragraphBody" style="padding-bottom: 20px">

            Without a doubt, Imani's volunteer preceptors are at the heart of all clinic operations. If no preceptor is on site, patients cannot be seen, and this is a significant detriment to many members of the Oak Park community who rely on us as their primary source of health care. Unfortunately, Imani Clinic has been experiencing a severe shortage of preceptors and, as a result, we have had to close our doors a number of times over the past couple of years. Therefore, we are always seeking new preceptors, and your help would be very much appreciated! All volunteer physicians are covered by malpractice insurance provided by the UC Davis School of Medicine, as outlined by the Vice-Dean for Medical Education, Dr. Michael Wilkes.

        </p>

        <p class="paragraphBody" style="padding-bottom: 50px">
            
            For more information on becoming eligible, please contact <b style="color: #363636; font-weight: 700;">imanidirectors@gmail.com</b>. The time commitment to precept at Imani would be 1-4 Saturdays a year, with very flexible scheduling. We would greatly appreciate your help in providing a consistent resource to address the preventive and episodic primary healthcare needs of the African American community!

        </p>

        <p></p>

        <div class="endBlock">
            <span>Copyright © Imani Clinic. All rights reserved.</span>
        </div>
      
  </body>
     <script type="text/javascript" src="../public/js/fade.js"></script>
   
</html>
