<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="UTF-8">
        
        <link rel="stylesheet" type="text/css" href="primaryservices.css">
        
        <!--Open Sans font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" >
        
        <!--Open Sans Condensed-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        
        <!--Icons-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
        <!--Bulma-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

        <script src="script/script.js" type="text/javascript"></script>
        
        <title>ImaniClinic</title>
        
    
    </head>

    <body>
        
        <div style="width: 100%; height: 500px; overflow:hidden">
                <img src="TopPageImg.jpg" alt="Img from ImaniClinic website" width=100%>
        
        </div>
        
        <center><p class="paragraphTitle">Primary Services</p></center>
        <center>
            <p class="paragraphBody"><strong>*NEW* Flu Shots are available! Jan 26th, Feb 23rd and Mar 23rd.</strong></p>
        </center>        
        <div class="columns is-mobile is-centered is-multiline">
            <div class="column is-narrow"><center>
                <p>Full Physical Exams</p>
                <i class="fas fa-weight fa-5x"></i>
                <p><br>Pap Smears</p>
                <i class="fas fa-user-md fa-5x"></i>
            </center></div>
            <div class="column is-narrow"><center>
                <p>Preventative Health Care</p>
                <i class="fas fa-allergies fa-5x"></i>
                <p><br>Pregnancy Testing</p>
                <i class="fas fa-user-nurse fa-5x"></i>
            </center></div>
            <div class="column is-narrow"><center>
                <p>Prescription Refills</p>
                <i class="fas fa-prescription fa-5x"></i>
                <p><br>HIV/STD Testing</p>
                <i class="fas fa-file-alt fa-5x"></i>
            </center></div>
            <div class="column is-narrow"><center>
                <p>Health Education</p>
                <i class="fas fa-book-medical fa-5x"></i>
                <p><br>Birth Control Prescriptions</p>
                <i class="fas fa-pills fa-5x"></i>
            </center></div>
        </div>
        
        <p><br></p>
        
        <div class="endBlock">
            <span>Copyright © Imani Clinic. All rights reserved.</span>
        </div>
        
    </body>


</html>
