<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Specialty Clinics</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="/public/css/specialtyclinics.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <script> 
            $(function(){
                $("#includedContent").load("navbar.handlebars"); 
            });
        </script> 
        <div id="includedContent"></div> 
        
        <!--Top Pic-->
        <div style="width: 100%; height: 400px; overflow:hidden">
                <img src="../public/images/index.jpg" alt="Img from ImaniClinic website" width=100%>
        </div>
        
        <center><p class="pageTitle">Specialty Clinics</p></center>
        
        <!-- Black and Red Boxes -->
        <div class="tile is-ancestor">
            <div class="tile is-1 is-vertical is-parent"></div>
            <div class="tile is-5 is-vertical is-parent">
                <!-- Cardiology Clinic -->
                <div class="tile is-child notification box" id="subheadingBlack">
                    <h1 class="title has-text-white"><center>Cardiology Clinics</center></h1>
                    <h2 class="subtitle has-text-white"><center>Every 1st Saturday</center></h2>
                    <ul class="has-text-white">
                        <li>The Imani Cardiology Clinic can provide consultations for patients with diagnoses including: coronary artery disease, heart failure, myocardial infarction, and rrythmias.</li>
                        <li><br>If you believe you would benefit from seeing our cardiology team, please complete the Cardio Referral Form below and submit to Eliseo Vazquez at etvazquez@ucdavis.edu with the title "Cardiology Clinic-Patient Name-Referring Clinic".</li>
                        <li><br>Walk-ins are welcome and we highly suggest patients to bring any medical records with them.</li>
                        <li><br>Cardio Referral Form: http://nebula.wsimg.com/9387fbbb6005783c36bafd88616703e1? AccessKeyId=B1C68CC3ACA559E94E65&disposition=0&alloworigin=1</li>
                    </ul>
                </div>
                
                <!-- Pediatric Clinic -->
                
                <div class="tile is-child notification box" id="subheadingRed">
                    <h1 class="title has-text-white"><center>Pediatric Clinics</center></h1>
                    <h2 class="subtitle has-text-white"><center>Every 1st Saturday</center></h2>
                    <ul class="has-text-white">
                        <li>We offer physicals and general check-ups to serve pediatric patients in the Oak Park community.</li>
                        <li><br>For further assistance please call us at the number on our home page.</li>
                    </ul>
                </div>
            </div>
            
            <div class="tile is-5 is-vertical is-parent">
                <!-- Dermatology Clinic -->
                <div class="tile is-child notification box" id="subheadingRed">
                    <h1 class="title has-text-white"><center>Dermatology Clinics</center></h1>
                    <h2 class="subtitle has-text-white"><center>Every 1st Saturday</center></h2>
                    <ul class="has-text-white">
                        <li>At Imani's Dermatology Clinic, patients are seen for a variety of conditions. Some of the most common services offered include consultations for skin, hair, and nails, and check ups on conditions such as moles, warts, rashes, eczema, and fungal/bacterial infections.</li>
                        <li><br>Additionally, the clinic offers screenings for skin cancer, where early detection is vital.</li>
                        <li><br>Dr. Samuel Hwang, head of the Dermatology at the UC Davis Medical Center, is the lead preceptor for Imani’s Dermatology Clinic. Thanks to Dr. Hwang, Imani’s Dermatology Clinic will soon have biopsy instruments that will be able to collect skin samples for better skin cancer screening and overall better dermatology services to the Oak Park Community.</li>
                    </ul>
                </div>
                
                <!-- Mammography Screening -->
                
                <div class="tile is-child notification is-black box">
                    <h1 class="title has-text-white"><center>Mammography Screening</center></h1>
                    <h2 class="subtitle has-text-white"><center>Once A Year</center></h2>
                    <ul class="has-text-white">
                        <li>We offer annual mammography screenings for the Oak Park community.</li>
                        <li><br>For further assistance please call us at the number on our home page.</li>
                </div>
            </div>
            <div class="tile is-1 is-vertical is-parent"></div>
        </div>
        
        <!-- Footer -->
        <div class="endBlock">
            <span>Copyright © Imani Clinic. All rights reserved.</span>
        </div>
            
   
        
    </body>
</html>
