<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>

        <meta charset="utf-8">
        <title>Undergraduates</title>
        <!--Bulma stylesheet for navbar-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="../public/css/getinvolved.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Open Sans and Open Sans Condensed fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    </head>
    
    <body>
      
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item " id="home" href="#">
              Imani Clinic
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div class="navbar-menu" id="navmenu">
            <div class="navbar-end">
              <div class="navbar-start">

                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Home
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Mission
                    </a>
                  </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    About Us
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Who We Are
                    </a>
                  </div>
                </div>

                <a class="navbar-item is-hoverable">
                  Events
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Services
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Primary Service
                    </a>
                    <a class="navbar-item">
                      Speciality Services
                    </a>
                    <a class="navbar-item">
                      Health Education
                    </a>
                  </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Get Invovled
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="Undergraduates.html">
                      Undergraduates
                    </a>
                    <a class="navbar-item" href="Medical%20Students.html">
                      Medical Students
                    </a>
                    <a class="navbar-item" href="Preceptors.html">
                      Preceptors
                    </a>
                  </div>
                </div>

                <a class="navbar-item is-hoverable">
                  Partners
                </a>

                <div class="navbar-item">
                  <a class="button is-primary">Contact</a>
                </div>

                <div class="navbar-item">
                  <a class="button is-danger">Donate</a>
                </div>

              </div>
            </div>
          </div>

        </nav>

        <div style="width: 100%; height: 100%; overflow:hidden">
            <img src="../public/images/UndergradTopPageImg.jpg" alt="Img from ImaniClinic website" width=100%>
        </div>


        <center><p class="paragraphTitle">Undergraduate Volunteers</p></center>

        <p class="paragraphBody" style="padding-bottom: 20px">

            Our undergraduate volunteers are the workforce behind Imani's operations. They routinely work on Saturday clinics and are equipped to provide adequate patient care. There are several roles that undergraduates embody, including Intake, Lab technician, Translators, EMR Specialist, and Receptionist. In addition to the clinic, Imani strives to build a community relationship through our outreaching efforts. Volunteers are highly involved within the community through our partnership with YXP and local community organizations. We are thankful for the students who have chosen to dedicate their time and efforts to Imani Clinic. 

        </p>

        <p class="paragraphBody">
            If you are interested in becoming part of the family, please review the requirements below.
        </p>

        <center>
            <p class="paragraphTitle">Undergraduate Volunteer Requirements</p>
            <p clase="paragraphBody"><strong>***Application cycle has now closed. We are currently not accepting new applicants. ***</strong></p>
        </center>

        <div id="reqWrap" style="padding: 7%">

            <div class="volunteerReqCard" id="commitmentBox" style="background-color: black; display: inline-block; width: 45%">

                <center>A three-quarter commitment, each involving:</center>

                <ul class="requirementList">
                    <li>2 mandatory clinic Saturdays</li>
                    <li>2 community service (outreach) events</li>
                    <li>1 fundraising event</li>
                    <li>Monday class attendance (class is held once a week from 6:00-7:00 PM) and committee participation</li>

                </ul>

                NOTE: 1 quarter leave may be taken upon fulfillment of the three-quarter commitment.

            </div>
            
            <div class="volunteerReqCard" id="healthClearanceBox" style="background-color: #831b05; float: right; width: 48%">

                <center>Health Clearance Requirements</center>

                <ul class="requirementList">

                    <li>Measles, Mumps, Rubella (MMR) : two lifetime doses (or blood test)</li>
                    <li>Varicella (Chickenpox Vaccine) : one lifetime dose (or blood test)</li>
                    <li>TB (Quantiferon or PPD Skin Test, Two Step) : COMPLETE YEARLY</li>
                    <li>Flu Shot (Fluvirin) : COMPLETE YEARLY</li>
                    <li> HIPAA Certification: Complete the <a class="embeddedLink" href="http://www.ucdmc.ucdavis.edu/compliance/Quiz/PrivacySecurity/player.html" target="_blank" style="color:red">training</a> and screenshot the certificate at the end. COMPLETE YEARLY</li>


                </ul>

            </div>

        </div>

        <p></p>

        <div class="endBlock">
            <span>Copyright © Imani Clinic. All rights reserved.</span>
        </div>
      
  </body>
                
<!--
    <script>
        var HCBoxHeight = document.getElementById("healthClearanceBox").clientHeight;
        var ReqWrapDiv = document.getElementById("reqWrap").clientHeight;
        var heightDiff = HCBoxHeight - CommitBoxHeight;
        document.getElementById("reqWrap").style.height = document.getElementById("reqWrap").style.height + heightDiff;
    </script>
-->
    
    <script type="text/javascript" src="../public/js/fade.js"></script>

</html>
