.opensans-condensed {
    font-family: 'Open Sans' sans-serif !important;
    font-weight: 300 !important;
}

.opensans-header {
    font-family: 'Open Sans' sans-serif !important;
    font-weight: 800 !important;
}

.opensans-contact-us {
    font-family: 'Open Sans' sans-serif !important;
    font-weight: 700 !important;
    font-size: 4rem !important;
}

.opensans-body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
}

.opensans-light {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
}

.image-container{
    width: 50% !important;
    height: 100% !important;
}

.image {
    background-image: url('index.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.red {
    color: #922B21 !important;
}

.uppercase {
    text-transform: uppercase
}

.is-red {
    background-color: #922B21;
}

@media (min-width: 770px) {
    #bg {
        max-width: 50%;
        background-image: url('index.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    #texte {
        color: white;
    }
}

@media (max-width: 770px) {
    #bg {
        background-size: cover;
        background-repeat: no-repeat;
    }

    #texte {
        color: black;
    }
}

.section {
    width: 100vw !important;
    height: 100vh !important;
}


