body {
    
    margin: 0;
    
}

.paragraphTitle {
    
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 50px;
    padding: 40px;
    color: #4A4A4A;
}

.paragraphBody {
    
    font-family: "Open Sans", sans-serif;
    padding: 40px 60px;
    padding-top: 0px;
    font-size: 16px;
    color: #4A4A4A;
    
}

.volunteerReqCard {
    
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 40px;
    border-radius: 10pt;
    font-size: 16px;

}

.requirementList {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.embeddedLink:hover {
    
    color: white;
    text-decoration: underline;
}

.endBlock {
    
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 30px;
}

p {
  font-family: 'Open Sans Condensed';
}

#home {
  font-size: 130%;
    font-family: "Open Sans", sans-serif;
}

#home:hover {
  background-color: #922b21;
}

.navbar-burger.burger:hover {
  background-color: #696969;
}

.navbar-dropdown {
  background-color: rgba(0,0,0,0.7);
}

.navbar-dropdown .navbar-item {
  color: white;
}