p{
    font-family: 'Open Sans Condensed';
    font-size: 12pt
}

.endBlock {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 30px;
}