p{
    font-family: 'Open Sans Condensed';
    font-size: 1.2rem;
}

.endBlock {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 30px;
}

.subtitle {
    text-shadow: 1px 1px black;
}

.red-bkg {
    background-color: #922b21;
}