section{
  height: 100%;
}

.columns{
  display: flex;
  background-color:#eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-around;
}

.column{
  background-color: #fff;
  border: 1px solid #444;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

