.section{
    height: 100%;
    background-color: #922b21;
}

.hero{
    font-family: "Open Sans", sans-serif;
      padding-top: 0px;
      padding-bottom: 0px;
    height: 250px;
}


.card{
    height: 100%;

}