.card {
  width: 60%;
}

.card .card-content {
  height: 20%;
}

.colored_box {
  background-color: #922b21;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 1;
  transition: .5s;
}

.container {
  padding-top: 2%;
  padding-bottom: 2%;
}

.content {
  overflow: auto;
}

.recipe {
  padding-left: 10%;
}

.title {
  text-align: center;
  color: black;
  padding-top: 10px;
}
