p {
  font-family: 'Open Sans Condensed';
}

#home {
  font-size: 130%;
}

.card {
  width: 60%;
  height: 100%;
}

.colored_box {
  background-color: #922b21;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 0;
  transition: 1s;
}

.container {
  padding-top: 2%;
  padding-bottom: 2%;
}

.header {
  background-color: #922b21;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.organizations {
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.title.is-3 {
  text-align: center;
  color: white;
  padding-top: 10px;
  font-family: 'Open Sans';
}

.recipe {
  padding-left: 10%;
  padding-bottom: 3%;
  padding-top: 2%;
}
